[Unit]
Description=A lightweight DHCP and caching DNS server
Documentation=man:dnsmasq(8)
Requires=network.target
Wants=nss-lookup.target
Before=nss-lookup.target
After=network.target

[Service]
Type=dbus
BusName=uk.org.thekelleys.dnsmasq
Environment=DNSMASQ_OPTS=
Environment=ENABLED=1
EnvironmentFile=-/etc/default/dnsmasq
ExecStartPre=/bin/sh -c "test x$ENABLED = x1 || exit 1"
ExecStartPre=/usr/sbin/dnsmasq --conf-file=/etc/dnsmasq.conf --test --conf-dir="${CONFIG_DIR}" $DNSMASQ_OPTS --test
ExecStart=/usr/sbin/dnsmasq --conf-file=/etc/dnsmasq.conf --conf-dir="${CONFIG_DIR}" $DNSMASQ_OPTS --keep-in-foreground --enable-dbus --user=dnsmasq --pid-file=/var/run/dnsmasq.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=dbus-uk.org.thekelleys.dnsmasq
