# Documentation on data sources configuration options
datasource:
  NoCloud:
    # fs_label: the label on filesystems to be searched for NoCloud source
    # For raspbian it is the label of the vfat boot partition
    fs_label: boot
    # These are optional, but allow you to basically provide a datasource
    # right here
    # meta-data:
    #   instance-id: raspberrypi
    #   local-hostname: raspberrypi.local
