[Unit]
Description=Docker cleanup
After=docker.service
ConditionFileIsExecutable=/usr/bin/docker

[Service]
Type=oneshot
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/usr/bin/docker system prune --volumes -f --filter "until=120h"

[Install]
WantedBy=multi-user.target docker.service
Also=docker-cleanup.timer

