[Unit]
Description=Refresh images and update containers
Requires=docker-compose.target
After=docker-compose.target

[Timer]
OnCalendar=Fri *-*-* 08:00:00
OnBootSec=15min
Unit=docker-compose-refresh.service

[Install]
WantedBy=timers.target

