[submodule "pi-gen"]
	path = pi-gen
	url = https://github.com/RPi-Distro/pi-gen.git
[submodule "stage8/70-betterclone-backups/betterclone"]
	path = stage8/70-betterclone-backups/betterclone
	url = https://github.com/jriguera/betterclone.git
[submodule "stage8/61-docker-compose/docker-rpi-dockercompose"]
	path = stage8/61-docker-compose/docker-rpi-dockercompose
	url = https://github.com/jriguera/docker-rpi-dockercompose.git
[submodule "stageZZ/99-confinit/confinit"]
	path = stageZZ/99-confinit/confinit
	url = https://github.com/jriguera/confinit.git
[submodule "stageZZ/90-btrfs-data-volume/rpi-btrfs"]
	path = stageZZ/90-btrfs-data-volume/rpi-btrfs
	url = https://github.com/jriguera/rpi-btrfs.git
[submodule "stage9/99-GPIO-display-drivers/LCD-show"]
	path = stage9/99-GPIO-display-drivers/LCD-show
	url = https://github.com/goodtft/LCD-show.git
