[submodule "pi-gen"]
	path = pi-gen
	url = https://github.com/RPi-Distro/pi-gen.git

[submodule "stage8/51-betterclone/betterclone"]
	path = stage8/51-betterclone/betterclone
	url = git@github.com:jriguera/betterclone.git
[submodule "stage8/50-btrfs-volume-data/rpi-btrfs"]
	path = stage8/50-btrfs-volume-data/rpi-btrfs
	url = git@github.com:jriguera/rpi-btrfs.git
