# Documentation on data sources configuration options
datasource:
  NoCloud:
    # default seedfrom is None
    # if found, then it should contain a url with:
    #    <url>/user-data and <url>/meta-data
    # seedfrom: http://my.example.com/i-abcde
    seedfrom: None

    # fs_label: the label on filesystems to be searched for NoCloud source
    # For raspbian it is the label of the vfat boot partition
    fs_label: boot

    # these are optional, but allow you to basically provide a datasource
    # right here
    meta-data:
       instance-id: i-87018aed
       local-hostname: raspi.local
