[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
Wants=network.target
Before=network.target wpa_supplicant.service
#Conflicts=wpa_supplicant.service
ConditionPathExists=/etc/hostapd/hostapd.conf
ConditionFileIsExecutable=/usr/sbin/hostapd
ConditionPathExists=/etc/monit/conf-enabled/hostapd

[Service]
Type=forking
PIDFile=/run/hostapd.pid
Environment=DAEMON_CONF=/etc/hostapd/hostapd.conf
Environment=DAEMON_OPTS=
Environment=ENABLED=1
EnvironmentFile=-/etc/default/hostapd
ExecStartPre=/bin/sh -c "test x$ENABLED = x1 || exit 1"
ExecStartPre=/bin/sh -c "test -r $DAEMON_CONF || exit 1"
ExecStart=/usr/sbin/hostapd "${DAEMON_CONF}" -P /run/hostapd.pid -B $DAEMON_OPTS
ExecReload=/bin/kill -HUP $MAINPID
ExecStopPost=/bin/rm -f /run/hostapd.pid

[Install]
WantedBy=multi-user.target

