[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator (interface-specific version)
Requires=network.target
After=network.target
Before=wpa_supplicant.service wpa_supplicant@%i.service
Conflicts=wpa_supplicant.service wpa_supplicant@%i.service
ConditionPathExists=/etc/hostapd/hostapd.%I.conf
ConditionFileIsExecutable=/usr/sbin/hostapd

[Service]
Type=forking
PIDFile=/run/hostapd.%I.pid
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd.%I.conf -P /run/hostapd.%I.pid -B
ExecReload=/bin/kill -HUP $MAINPID
ExecStopPost=/bin/rm -f /run/hostapd.%I.pid

[Install]
WantedBy=multi-user.target
