[Unit]
Description=Copy provided configuration files in %I to /etc
DefaultDependencies=no
After=systemd-remount-fs.service
Before=cloud-init-local.service
Before=shutdown.target
Before=sysinit.target
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/copy-files-permissions.sh
ConditionDirectoryNotEmpty=/%I

[Service]
WorkingDirectory=/%I
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal
User=root
Group=root
ExecStart=/bin/copy-files-permissions.sh /%I /etc

[Install]
WantedBy=cloud-init.target
