[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target
ConditionFileIsExecutable=/usr/local/sbin/node_exporter

[Service]
User=node_exporter
Group=node_exporter
PermissionsStartOnly=yes
Type=simple
Environment=OPTIONS=
Environment=ENABLED=1
EnvironmentFile=-/etc/default/node_exporter
ExecStartPre=/bin/sh -c "test x$ENABLED = x1 || exit 1"
ExecStart=/usr/local/sbin/node_exporter $OPTIONS
ExecStartPost=/bin/sh -c 'sleep 2 && pgrep -U node_exporter -x node_exporter > /run/node_exporter.pid'
ExecStopPost=/bin/rm -f /run/node_exporter.pid
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
