[Unit]
Description=Pro-active monitoring utility for unix systems
Wants=network.target
After=network.target
ConditionPathExists=!/etc/monit-stopped

[Service]
EnvironmentFile=-/etc/default/monit
ExecStartPre=/bin/sh -c "test x$START = xyes || exit 1"
ExecStart=/usr/bin/monit -I $MONIT_OPTS
ExecStop=/usr/bin/monit quit
ExecReload=/usr/bin/monit reload
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
