[Unit]
Description=Backup on /%I with betterclone
StopWhenUnneeded=true
Wants=network-online.target
After=network.target network-online.target
Conflicts=shutdown.target betterclone-restore@%i.service
ConditionPathExists=/%I/.backup.betterclone
ConditionFileIsExecutable=/bin/betterclone

[Service]
Type=oneshot
User=root
WorkingDirectory=/tmp
EnvironmentFile=/etc/betterclone/config.env
ExecStart=/bin/betterclone backup /%I

[Install]
WantedBy=multi-user.target betterclone-backup.target
Also=betterclone-backup@%i.timer
