[Unit]
Description=Betterclone Restore /%I
StopWhenUnneeded=true
Wants=network-online.target
After=network.target network-online.target
Before=docker.service docker-compose.target
Conflicts=shutdown.target betterclone-backup@%i.service
ConditionPathExists=/%I/.backup.betterclone
ConditionPathExists=/%I/.restore.betterclone
ConditionFileIsExecutable=/bin/betterclone

[Service]
Type=oneshot
User=root
WorkingDirectory=/tmp
EnvironmentFile=/etc/betterclone/config.env
ExecStart=/bin/betterclone restore /%I nokooks

[Install]
WantedBy=multi-user.target betterclone-restore.target

