[Unit]
Description=Timer to run betterclone on /%I
Wants=network-online.target
After=network.target network-online.target
ConditionPathExists=/%I/.backup.betterclone
ConditionFileIsExecutable=/bin/betterclone

[Timer]
Persistent=false
OnBootSec=30min
OnCalendar=* *-*-* 03,09,15,21:15:00
Unit=betterclone-backup@%i.service

[Install]
WantedBy=timers.target betterclone-backup.target

