[Unit]
Description=Betterclone Backup target services
StopWhenUnneeded=true
Wants=network-online.target
After=network.target network-online.target
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/betterclone
ConditionPathExists=/etc/betterclone/config.env

[Install]
WantedBy=multi-user.target

